/* @media only screen and (max-width: 600px){
    ul > li {
        width: 100%;
    }
    #modalUl {
        display: block;
        margin-left: auto;
    }
    #weather {
        display: none;
    }
    h1 {
        font-size: 3.5vh;
    }
    .textoutline {
        height: 5vh;
        
    }
    .card {
        height: 5vh;
        
    }
    #business {
        font-size: 1px;
    } */
    /* .navbar {
        height: 10vh;
    } */
    
/* } */
/* @media only screen and (min-width: 878px){
    ul > li {
        width: 50%;
    }
    #modalUl {
        display: block;
        
    }
    #weather {
        display: none;
    }
    h1 {
        font-size: 7vh;
    }
    #business {
        font-size: 1vh;
    }
    /* .navbar {
        height: 15vh;
    } */
    /*
}
@media only screen and (min-width: 883px){
    ul > li {
        width: 50%;
    }
    #modalUl {
        display: block;
        
    }
    #weather {
        display: none;
    }
    h1 {
        font-size: 7vh;
    }
    .card {
        font-size: 1px;
    }
    /* .navbar {
        height: 15vh;
    } */
    /*
}
@media only screen and (min-width: 1280px) {
    ul > li {
        width: 33%;
    }
    #modalUl {
        display: block;
        
    }
    #weather {
        display: inline-block;
    }
    .navbar {
        height: 26vh;
    }
    
} */

