

@media (orientation: portrait) {
    #activity {
        font-size: 1.5vh;
    }
    #address {
        font-size: 1.4vh;
    }
    #business {
        font-weight: 900;
        font-size: 1.55vh;
    }
    #everetth3 {
        font-size: 2vw;
        
    }
    #h1coffee {
        font-size: 7vw;
        margin-right: 5px;
    }
    #search {
        width: 20vw;
        margin-left: 0;
        
    }
    .material-symbols-outlined {
        font-size: 17px;
        margin-top: 0px;
        
        
    }
    ul > li {
        width: 100%;
    }
    .navbar {
        height: 14vh;
    }

    #weather h2 {
        display: none;
    }
    #weather p {
        font-size: 2vw;
    }
}

@media (orientation: portrait) and (max-width: 912px) {
    .textoutline {
        height: 17vh;
    }
}