
@media (orientation: landscape)  and (max-width: 896px) {
    
    .textoutline {
        height: 50%;
    }
    ul > li {
        width: 50%;
    }
    #everetth3 {
        font-size: 2vw;
    }
    #h1coffee {
        font-size: 5vw;
    }
    .navbarUl {
        margin: 0 0 0 4vw;
    }
    #search {
        width: 60%;
    }
    #h1coffee {
        margin-right: 5px;
    }
    .material-symbols-outlined {
        font-size: 25px;
        margin-top: 0px;
        
        
    }
    
}